#map-c8vhal22 {
	.gm-style-iw {
		max-width: 225px !important;
		width: 100% !important;
		padding: 21px 30px 15px 10px !important;
		
		@include mobile {
			max-width: 260px;
		}
		@media (min-width: 600px) {
			max-width: 320px !important;
		}	
		@include tablet {
			max-width: 440px !important;
		}
	}
}
