#map-c8vhal22 {
	* {
		font: inherit;
		box-sizing: border-box;	
	}

	.coop-map {
		padding: 15px;
	
		@include tablet {
			padding: 0 0 30px 0;
		}
	
		&__wrapper {
			max-width: $width-desktop;
			margin: 0 auto;
		}
	
		&__heading {
			font-size: 18px;
			margin: 10px 0;
			text-transform: uppercase;
			color: #525232;
			font-weight: 100;
		}
	
		&__map {
			display: flex;
			flex-direction: column;
			min-height: 500px;

			@include mobile {
				min-height: 550px;
			}
			@include tablet {
				min-height: 600px;
			}
			@include desktop {
				min-height: 650px;
			}
			@include large-desktop {
				min-height: 700px;
			}
		}
	
		&__g-map {
			height: 100%;
			background: #2a2a2f;
			flex-grow: 10;
			min-height: 550px;

			@include mobile {
				min-height: 600px;
			}
			@include tablet {
				min-height: 650px;
			}
			@include desktop {
				min-height: 700px;
			}
			@include large-desktop {
				min-height: 750px;
			}
		}

		&__postalcode {
			margin-bottom: 10px;
		}
			
		&__input,
		&__submit,
		&__reset {
			font-size: 13px;
			@include mobile {
				font-size: 14px;
			}
		}

		&__input {
			border: 1px solid #ccc;
			text-align: center;
			vertical-align: top;
			width: 100px;
			height: 38px;
			margin-bottom: 4px;
			margin-right: 1px;
			padding: 0;
			
			&:focus {
				outline-color: #4d88b3;
				outline-width: 4px;
				outline-offset: -2px;
			}
			
			&.has-error {
				border-color: $color1;
			}
		}
	
		
		&__submit,
		&__reset {
			display: inline-block;
			text-align: center;
			padding: 0px 16px;
			line-height: 38px;
			transition: all 200ms ease-in;
			height: 38px;
		}
		&__submit {
			color: #FFF;
			background: $color1;
			margin-bottom: 4px;
			border: 1px solid $color1;

			&:hover {
				background: darken($color1, 15%);
				cursor: pointer;
			}
		}

		&__reset {
			display: none;
			border: 1px solid #ccc;
			color: #787878;
			
			&:hover {
				border-color: #444;
				color: #444;
				cursor: pointer;
			}

			&.is-visible {
				display: inline-block;
			}
		}
	}
}
