// @import "~/normalize.css";
@import "./bootstrap.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import 'components/*';

html.coop-map-dev {
    height: 100%;
	
	body {
		margin: 0;
		font-family: sans-serif;
		color: #212121;
		color: $color-text;
	}
}