$color1: #AC252A;
$color2: #F7F7F7;
$color3: #28292D;
$color4: #EF8354;
$color5: #3F4047;
$color-text: #333;

$width-desktop: 950px;

// $color2: #363636;
// $color3: #272D2D;
// $color4: #89909F;
// $color5: #BAC4BC;