{{#> partials/layout title="Runa Wilhelmina"}}
	<div class="banner">
		
	</div>
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="center">Om mig</h2>

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 pull-right">
					<img class="about__image" src="./assets/images/runa.jpg"/>
				</div>
				<div class="col-md-8">
					<p>Jeg hedder Runa Wilhelmina Marrable, og er født i 1983. Oprindeligt er jeg fra Norge, og efter at have rejst og flyttet lidt rundt i et par år, slog jeg rødderne ned i København i 2004. Jeg er gift med Michael og mor til lille Elvin.</p>
					<p>Op igennem årene har jeg prøvet at modtage mange forskellige former for healing, for at mærke og udforske hvad det kan, på egen krop. Jeg har uddannet mig indenfor blandt andet Soul-Healing, Akasha healing, Reiki healing og Inka healing. Jeg har også en treårig uddannelse som psykoterapeutisk livsvejleder/Life-coach, ved Alfa-Omega Instituttet.</o>
					<p>Soul-Healing er klart den mest kraftfulde form for healing jeg har prøvet. Mit eget møde med denne teknik, kom efter at jeg havde arbejdet med personlig og spirituel udvikling i lang tid. På trods af en hel del dedikeret arbejde, var der nogle områder hvor jeg blev ved med at stange hovedet mod væggen. Der var negative mønstre, jeg bare ikke kunne komme af med, ligemeget hvor mange forskellige metoder jeg prøvede. Derfor gjorde det ekstra stort indtryk på mig, da jeg efter én session, fik en kæmpe aha-oplevelse. I tiden som fulgte skete der små, men mærkbare ændringer i måden jeg forholdt mig til mig selv og min omverden. Og lige så stille fik jeg ændret hele mit liv.</p>
					<p>Det er et privilegium, og en kæmpe gave, at mestre denne kraftfulde teknik. Det at kunne få lov til at hjælpe andre, og se hvilken positiv forandring det bringer, gør mig ovenud lykkelig og fuld af inspiration.</p>
				</div>
			</div>
		</div>

	</div>

{{/partials/layout}}