{{#> partials/layout title="Homepage"}}
<div style="font-family: Helvetica; color: #333; text-align: center;">
    <h1>
        <span style="font-size: 70px;" align="center">✅</span>
        <br>Frontend Installed!
    </h1>
    <p align="center" style="color: #777;">
        Start building!
    </p>
</div>
{{/partials/layout}}